:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5% /* 1rem = 10px */;

--main-padding: 48px;

  color-scheme: light dark;
  --primary-color: #242424;
  --accent-color: #4C8577;
  --text-color: #e8e6e3;
  --action-color: #ba2d0b;
  --dev-ui-action-bg-color: #e77728;
  --dev-ui-action-text-color: #4f290e;
  --cta-tex-color: var(--text-color);

  color: var(--text-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body, #root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--main-padding);
  max-width: 100vw;
}

h1 {
  font-size: 4.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.2;
}
/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

button {
  cursor: pointer;
  user-select: none;
  position: relative;

  &:active {
    filter: brightness(0.85);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --primary-color: #ffffff;
    --accent-color: #75b3a3;
    --cta-text-color: var(--primary-color);
  }



}